.details-tab {
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	color: #ffffffcc;
	font-weight: 600;
	display: block;
	order: 0; // tabs come first
	background: #ffffff13;
	border-radius: 1.5rem;
	margin-right: 0.35rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
	border: 2px solid transparent;
	&:hover, &:focus {
		border-color: #fff;
	}
	&::-webkit-details-marker {
		display: none; // hide the default arrow icon
	}
}

.details-tabs {
	position: relative;
	justify-content: center; // center the tabs
	display: flex;
	flex-wrap: wrap;
}


.details-content {
	order: 1; // content comes after tabs
	padding: 1rem;
	width: 100%; // make the content sit on it's own row
	details {
		summary {
			font-weight: 600;
		}    
		margin: 1.5rem;
	}
}

.details-item {
	display: contents;
	&[open] {
		& > .details-tab {
			background: #fff;
			color: #333;
		}
	}
}
