@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.video-background-container {
  margin: 15px;
  position: relative;
  border-radius: 20px;
  max-width: 1200px;
  width: 100%;
  height: 500px;
}

.video-background {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: inherit;
}

.bluur3 {
  width: 100%;
  height: 420px;
  opacity: .95;
    background-image: radial-gradient(circle closest-corner at 50% 0, rgba(156, 30, 51, 0.45), #00000000 58%);
}


.hero-container {
  flex-direction: column;
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      place-content: center;
      place-items: center;
}

.h1--scalingSize {
  font-weight: 800 !important;
  line-height: 1.1 !important;
  margin-bottom: 0 !important;
    text-align: center;
    font-size: 100px;
}

.h3--scalingSize {
  font-weight: 800 !important;
  text-align: center;
  font-size: 80px;
}

@media only screen and (max-height: 700px) {
  .h1--scalingSize {
    text-align: center;
    font-size: 70px !important;
}
.h3--scalingSize {
  text-align: center;
  font-size: 60px;
}
.video-background-container {
  margin: 15px;
  position: relative;
  border-radius: 20px;
  max-width: 800px;
  width: 100%;
  height: 300px;
}
}

@media only screen and (max-width: 1000px) {
  .h1--scalingSize {
    text-align: center;
    font-size: 90px !important;
}
.h3--scalingSize {
  text-align: center;
  font-size: 80px !important;
}
}

@media only screen and (max-width: 650px) {
  .h1--scalingSize {
    text-align: center;
    font-size: 70px !important;
}
.h3--scalingSize {
  text-align: center;
  font-size: 60px !important;
}
}

@media only screen and (max-width: 400px) {
  .h1--scalingSize {
    text-align: center;
    font-size: 50px !important;
}
.h3--scalingSize {
  text-align: center;
  font-size: 40px !important;
}
}



  
.content {
  background-image: radial-gradient(at 50% 44%, #d32b50, rgba(0, 0, 0, 0) 58%);
  margin-top: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 100%;
}

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 35px;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: bounce;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes bounce {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }