.gradient-custom-2 {
    height: fit-content;
  }

  .login-button {
    padding: 5px;
    border-radius: 40px;
    border: 1px solid blue;
  }

  .login-button:Hover {
    border: 1px solid blue;
    background: #29057c1a;
  }
  
  .login-container {
    margin-top: 150px;
  }

  .login-container label {
    color: #Fff;
  }

  .danger {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid;
    color: #dc3545;
    border-color: #dc3545;
  }

 .danger:hover {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid;
  color: #fff;
  border-color: #dc3545;
  background: #dc3545;
 }


 /* === Responsywność === */
 @media (max-width: 768px) {
  .login-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
}

@keyframes moveUpDown {
  0% {
    bottom: 50px;
  }
  50% {
    bottom: 90px; /* Możesz dostosować wysokość */
  }
  100% {
    bottom: 50px;
  }
}

.login-image {
  position: relative;
  bottom: 50px;
  animation: moveUpDown 7s cubic-bezier(0.25, 0.8, 0.25, 1) infinite;
}
